*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .section_login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff38e;
  }
  .section_login::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background:#095a55;
  }
  .container_login {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 3;
    /* background-color: #ffff; */
  }
  .container_login .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background:#095a55;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:0 20px 25px rgba(0,0,0,.15);
  }
  .head2{
    color:black;
    font-size: 24px;
    font-weight: 500;
  }
  .container_login .contactinfo h4{
    color: black;
    font-size: 24px;
    font-weight: 500;
  }
  .container_login .signIn{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background:#fff38e;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:0 20px 25px rgba(0,0,0,.15);
  }
  .head2{
    color:black;
    font-size: 35px;
    font-weight: 500;
  }
  .container_login .signIn h4{
    color: black;
    font-size: 24px;
    font-weight: 500;
  }
  .container_login .signIn ul.info{
    position: relative;
    margin: 20px 0;
  }
  .container_login .signIn ul.info li{
    list-style: none;
    position: relative;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
  }
  .container_login .signIn ul.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
  }
  .container_login .signIn ul.info li span:nth-child(1) div{
    max-width: 100%;
    filter: invert(1);
  }
  .fas{
    font-size: 30px;
  }
  .container_login .signIn ul.info li span:nth-child(2){
    color:#fff;
    margin-left: 10px;
    font-weight: 300;
  }
  .btn {
      font-size: 25px;
    border: 2px solid #095a55;
    background-color: white;
    /* color: black; */
    padding: 12px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  button .info {
      font-size: 125px;
    /* border-color: #095a55; */
    color: #095a55;
  }
  .container_login .contactinfo ul.info{
    position: relative;
    margin: 20px 0;
  }
  .container_login .contactinfo ul.info li{
    list-style: none;
    position: relative;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
  }
  .container_login .contactinfo ul.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
  }
  .container_login .contactinfo ul.info li span:nth-child(1) div{
    max-width: 100%;
    filter: invert(1);
  }
  .fas{
    font-size: 30px;
  }
  .container_login .contactinfo ul.info li span:nth-child(2){
    color:#fff;
    margin-left: 10px;
    font-weight: 300;
  }
  .container_login .contactinfo ul.sci{
    position: relative;
    display: flex;
  }
  .container_login .contactinfo ul.sci li{
    list-style: none;
    margin-right: 15px;
  }
  .container_login .contactinfo ul.sci li a{
    text-decoration: none;
    color: #fff;
  }
  .fab{   
    font-size: 30px;
  }
  .container_login .contactform{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width:calc(100% - 150px);
    height: 100%;
    background-color: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0,0.25);
  }
  .container_login .contactform h2{
    color:#0f3959;
    font-size: 24px;
    font-weight: 500;
  }
  .container_login .contactform .formbox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .container_login .contactform .formbox .inputbox{
    position: relative;
    margin-bottom: 35px;
  }
  .container_login .contactform .formbox .inputbox.w50{
    width:47%;
  }
  .container_login .contactform .formbox .inputbox.w100{
    width:100%;
  }
  .container_login .contactform .formbox .inputbox input,
  .container_login .contactform .formbox .inputbox textarea{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline:none;
    border-bottom: 1px solid #777;
  }
  .container_login .contactform .formbox .inputbox textarea{
    height: 120px;
  }
  .container_login .contactform .formbox .inputbox span{
    position: absolute;
    left: 0;
    padding:5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
  }
  .container_login .contactform .formbox .inputbox input:focus ~ span,
  .container_login .contactform .formbox .inputbox textarea:focus ~ span,
  .container_login .contactform .formbox .inputbox input:valid ~ span,
  .container_login .contactform .formbox .inputbox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#095a55;
    font-weight: 500;
  }
  .container_login .contactform .formbox .inputbox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background:#095a55;
    color:#fff;
    border:None;
    max-width: 150px;
    padding: 12px;
  }
  .container_login .contactform .formbox .inputbox input[type="submit"]:hover{
    background: #0d948b;
  }
  @media (max-width:1200px){
    .container_login{
        width:90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }
    .container_login .contactinfo{
        top:0;
        height: 500px;
        position: relative;
        box-shadow: none;
    }
    .contactinfo .contactform{
        position: relative;
        width: calc(100% - 350px);
        padding: 40px;
        margin: 550px;
    }
  }
  @media(max-width:991px){
    section{
        background: #fff38e;
    }
    section::before{
        display: none;
    }
    .container_login{
        display: flex;
        flex-direction: column-reverse;
    }
    .container_login .contactform{
        width: 100%;
        height: auto;
    }
    .container_login .contactinfo{
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .container_login .contactinfo ul.sci{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  @media (max-width:600px){
    .container_login .contactform{
        padding: 25px;
    }
    .container_login .contactinfo{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
  }