@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
*{
  font-family: 'Urbanist', sans-serif;
}
.cards{
  width:90vw;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: #f6f4e4;
  margin:50px;
  padding:20px;
  text-align:center;
  border: 2px solid #3e5c5a;
  position: relative;
  display: flex;
  margin-top:10px
}
.title{
  position: absolute;
  top:-35px;
  background-color: #3e5c5a;
  width: 97%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  margin-top: 40px;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 300px;
  height: 200px;
  object-fit: scale-down;
}
.links{
  height: 90px;
  background-color: #3e5c5a;
  color: white;
  margin-top: 10px;
  padding: 2px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul{
  padding-right: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
  margin: 5px;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
li:hover{
  transform: scale(1.2);
}
a:hover{  
  transform: scale(1.2);
  color: #6febe2;
}

.desc{
  margin-top: 20px;
}
.left{
  width: 30%;
}

.right{
  width: 70%;
  margin:50px;
  margin-top: 60px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}
.btn{
  background-color: #3e5c5a;
  color:white ;
  width: 120px;
  height: 40px;
  margin:5px ;
}
.btn:hover{
  background-color: #6febe2;
  color: black;
}
.color{
  color: #3e5c5a;
  font-weight: 600;
  font-size: larger;
}
