/* .header{
    margin-top: 60px;
} */

.headerTitles{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Varela Round';
    color: #444;
}

.headerTitleSm {
    position: absolute;
    top: 9%;
    font-size: 20px;
    /* color: #444; */

}

.headerTitleLg {
    position: absolute;
    top: 15%;
    font-size: 100px;
    /* color: white; */
}

.headerImg{
    width: 100%;
    height: 150px;
    margin-top: 50px;
    object-fit: cover;

}